/pratica1/exercicio4/Aula03/nbproject/private/
/pratica1/exercicio4/Aula03/build/
/pratica1/exercicio4/Aula03/dist/
/pratica2/exercicio1/Concessionaria/nbproject/private/
/pratica2/exercicio1/Concessionaria/build/
/pratica2/exercicio2/TesteHeranca/nbproject/private/
/pratica2/exercicio3/exercicio3/nbproject/private/
/pratica2/exercicio3/exercicio3/build/
/pratica2/exercicio3/exercicio3/dist/
/pratica3/ExercicioInterface/nbproject/private/
/pratica3/ExercicioInterface/build/
/gabAtv1/Atividade1/nbproject/private/
/pratica5/Calc1/build/
/pratica5/Calc1/nbproject/private/
/pratica5/OlaJavaFX/nbproject/private/
/pratica5/OlaJavaFX/build/
/pratica5/OlaJavaFX/dist/
/pratica6/cadastrarAluno/nbproject/private/
/pratica6/cadastrarAluno/build/
/pratica6/cadastrarAluno/dist/
/pratica7/exWrapper/nbproject/private/
/pratica7/exWrapper/build/
/pratica8/exCelular/nbproject/private/
/pratica8/exCelular/build/
/pratica8/exCelular/dist/
/pratica8/listaCompras/listaCompras/nbproject/private/